body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 40px;
}

header {
    display: flex;
    flex-direction: row;
    gap: 1000px;
    align-items: center;
    padding: 10px;
    background-color: aqua;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.welcome {
    display: flex;
    padding: 5px;
    margin-left: 20px;
}

.links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 23px;
    gap: 30px;
    
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    background-color: bisque;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    height: 450px;
    width: 350px;
}

.use {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 75px;
    background-color: bisque;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    height: 230px;
    width: 550px;
}
.usage {
    display: flex;
    flex-direction: column;
}
.spending {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    background-color: bisque;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    height: 350px;
    width: 350px;
}
.spending_form {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-top: 20px;
    gap: 10px;
    color:darkgreen;
    font-size: 20px;
    font-weight: bold;
}

.creat_account{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f9fa;
    border: 1px solid #e7e7e7;
    padding: 50px;
    
}
.budget{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 70px;
}
.same{
    background-color: #f8f9fa;
    border: 1px solid #e7e7e7;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 250px;
}



