{% extends 'base.html' %}
{% block title %}
    Welcome page
{% endblock %}

{% block content %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <header>
        <div class="welcome">
            <h2>welcome {{ name }} </h2>
            <h2 id="welcomeid"> {{ id }} </h2>
        </div>
        <div class="links">
            <a href="{{ url_for('startplaning') }}" class="link">Start planing</a>
            <a href="#" class="link">view transaction</a>
            <a href="{{ url_for('logout') }}" class="link">logout</a>
        </div>
    </header>
    <main>
        <div class="cate_pay">
            <div class="category">
                <h1>Expense Breakdown</h1>
                <ul id="expense">

                </ul>
            </div>
            <div class="payment">
                <h1>Alert payment </h1>
            </div>
        </div>
        <div class="use_graph">
            <div class="use" id="use">
                <div class="usage" id="total_budget">
                    <h2>Total Budgeted Expenses</h2>
                </div>
                <div class="usage" id="remaining_budget">
                    <h2>Remaining Budgeted Expenses</h2>
                </div>
            </div>
            <div class="graph" id="graph">
                <h1>Budget Tracker</h1>
                <canvas id="budget_chart" class="myChart" style="width: 400px; height: 400px;"></canvas>
                <div id="income" class="total_budget">
                    <p>Total Income</p>
                </div>
                <div id="budget" class="total_budget"> 
                    <p>Total Expense</p>
                </div>
               
                
                
            </div>
        </div>
        <div class="spend_high">
            <div class="spending">
                <h1>how much do you spend</h1>
                <form class="spending_form" href="#" method="POST">
                    <div class="input_text">
                    <lable for="category">Category</lable>
                    <select id="dropdown" name="spend_category"></select>
                    </div>
                    <div class="input_text">
                    <lable for="amount">Amount</lable>
                    <input type="number" placeholder="How much do you spend" name="spend_amount">
                    </div>
                    <div class="input_text">
                    <lable for="date">Date</lable>
                    <input type="date" name="spend_date">
                    </div>
                    <div class="input_text">
                    <button type="submit" name="addspend">Add spending</button>
                    </div>
                </form>
            </div>
            <div class="highest">
                <h1>Highest spending</h1>
                <ul id="highest">

                </ul>
            </div>
        </div>
    </main>
    <footer>
        <p>Social Media</p>
    </footer>
    <script src="{{url_for('static', filename='welcome.js')}}"></script>
{% endblock %}
